<?xml version="1.0" encoding="UTF-8"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

    <arg name="basepath" value="."/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>
    <arg value="p"/>
    <arg name="extensions" value="php"/>
    <arg name="tab-width" value="4"/>
    <arg name="report-width" value="120"/>

    <rule ref="PSR12" />

    <file>Cache/</file>
    <file>ContextFactory/</file>
    <file>DependencyInjection/</file>
    <file>ExpressionLanguage/</file>
    <file>Serializer/</file>CacheWarmer
    <file>Templating/</file>
    <file>Tests/</file>
</ruleset>
